In [1]:
# List of high schools
high_schools=["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [2]:
for x in high_schools:
    print(x)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [3]:
# Add dependencies
import pandas as pd
import os

In [4]:
# Create a Pandas Series from a list
school_series=pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [5]:
for x in school_series:
    print(x)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [6]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [7]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [8]:
school_df=pd.DataFrame(high_school_dicts)
print(school_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
# Three separate lists of information on high schools
school_id=[0,1,2,3,4]

school_name=["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school=["District", "District", "Charter", "District", "Charter"]

In [10]:
# Initialize a new DataFrame.
schools_df=pd.DataFrame()

In [11]:
# Add the list to a new DataFrame
schools_df["School ID"]=school_id

# Print the DataFrame
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [12]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [13]:
# Skill Drill
high_schools_dict_df=pd.DataFrame(high_schools_dict)
print(high_schools_dict_df)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
# School_df columns
print(school_df.columns)

Index(['School ID', 'school_name', 'type'], dtype='object')

In [15]:
# School_df indices
print(school_df.index)

RangeIndex(start=0, stop=5, step=1)

In [16]:
# School_df values
print(school_df.values)

[[0 'Huang High    School' 'District']
 [1 'Figueroa High School' 'District']
 [2 'Shelton High School' 'Charter']
 [3 'Hernandez High School' 'District']
 [4 'Griffin High School' 'Charter']]

In [17]:
# Files to load
school_data_to_load=os.path.join("Resources/schools_complete.csv")
student_data_to_load=os.path.join("Resources/students_complete.csv")

In [18]:
# Read the school data file and store it in a Pandas Dataframe
school_data_df=pd.read_csv(school_data_to_load)
print(school_data_df)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [19]:
# Read the student data file and store it in a Pandas DataFrame
student_data_df=pd.read_csv(student_data_to_load)
print(student_data_df.head())

   Student ID       student_name gender grade        school_name  \
0           0       Paul Bradley      M   9th  Huang High School
1           1       Victor Smith      M  12th  Huang High School
2           2    Kevin Rodriguez      M  12th  Huang High School
3           3  Dr. Richard Scott      M  12th  Huang High School
4           4         Bonnie Ray      F   9th  Huang High School

   reading_score  math_score
0             66          79
1             94          61
2             90          60
3             67          58
4             97          84

In [20]:
# Count method
# Determine if there are any missing values in the school data.

print(school_data_df.count())

print(student_data_df.count())

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [21]:
# Is null method
# Determine if there are any missing values in the school data.
print(school_data_df.isnull())

    School ID  school_name   type   size  budget
0       False        False  False  False   False
1       False        False  False  False   False
2       False        False  False  False   False
3       False        False  False  False   False
4       False        False  False  False   False
5       False        False  False  False   False
6       False        False  False  False   False
7       False        False  False  False   False
8       False        False  False  False   False
9       False        False  False  False   False
10      False        False  False  False   False
11      False        False  False  False   False
12      False        False  False  False   False
13      False        False  False  False   False
14      False        False  False  False   False

In [22]:
# Determine if there are any missing values in the student data
print(student_data_df.isnull())

       Student ID  student_name  gender  grade  school_name  reading_score  \
0           False         False   False  False        False          False
1           False         False   False  False        False          False
2           False         False   False  False        False          False
3           False         False   False  False        False          False
4           False         False   False  False        False          False
...           ...           ...     ...    ...          ...            ...
39165       False         False   False  False        False          False
39166       False         False   False  False        False          False
39167       False         False   False  False        False          False
39168       False         False   False  False        False          False
39169       False         False   False  False        False          False

       math_score
0           False
1           False
2           False
3           False
4           False
...           ...
39165       False
39166       False
39167       False
39168       False
39169       False

[39170 rows x 7 columns]

In [23]:
# Determine how many missing values are in student data.
print(student_data_df.isnull().sum())

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [24]:
# Notnull method
# Determine if there are not any missing values in the school data.
print(school_data_df.notnull())

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [25]:
# Determine if there are any missing values in the student data.
print(student_data_df.notnull())

       Student ID  student_name  gender  grade  school_name  reading_score  \
0            True          True    True   True         True           True
1            True          True    True   True         True           True
2            True          True    True   True         True           True
3            True          True    True   True         True           True
4            True          True    True   True         True           True
...           ...           ...     ...    ...          ...            ...
39165        True          True    True   True         True           True
39166        True          True    True   True         True           True
39167        True          True    True   True         True           True
39168        True          True    True   True         True           True
39169        True          True    True   True         True           True

       math_score
0            True
1            True
2            True
3            True
4            True
...           ...
39165        True
39166        True
39167        True
39168        True
39169        True

[39170 rows x 7 columns]

In [26]:
# Determine how many values are not missing in the student data
print(student_data_df.notnull().sum())

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [27]:
# Load missing_data file
file_to_load="Resources/missing_grades.csv"

# Read the CSV into a dataframe
missing_grade_df=pd.read_csv(file_to_load)
print(missing_grade_df)

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th            NaN        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0         NaN
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [28]:
# Drop the missing data (NaNs)
missing_grade_df.dropna()

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [29]:
# Fill in the empty rows with "85"
missing_grade_df.fillna(85)

   Student ID       student_name gender grade  reading_score  math_score
0           0       Paul Bradley      M   9th           66.0        79.0
1           1       Victor Smith      M  12th           94.0        61.0
2           2    Kevin Rodriguez      M  12th           85.0        60.0
3           3  Dr. Richard Scott      M  12th           67.0        58.0
4           4         Bonnie Ray      F   9th           97.0        84.0
5           5      Bryan Miranda      M   9th           94.0        85.0
6           6      Sheena Carter      F  11th           82.0        80.0
7           7       Nicole Baker      F  12th           96.0        69.0

In [30]:
# Determine the data types for the school DataFrame
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [31]:
# Determine the data types for the student DataFrame
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [1]:
# Example of a class and objects in Python
class Cat:
    def __init__(self,name):
        self.name=name

In [5]:
first_cat=Cat("Felix")
print(first_cat.name)

Felix

In [4]:
class Dog:
    def __init__(self,name,color,sound):
        self.name=name
        self.color=color
        self.sound=sound
        
    def bark(self):
        return self.sound + '' + self.sound

In [ ]:
first_dog=Dog("Fido","brown","woof!")